extend layout

block content
  if world
    h1.world= world
  #game
    section#area
      svg#back
        filter#artifacts
          feComponentTransfer
        g(filter='url(#artifacts)')

      svg#mountain
      svg#land-upper
      svg#land-lower
      svg#mining
    #playground

    #mining-area
      if owner
        #vehicle
        .hole.fade

    if owner
      #collection
        h2 inventory
        ul.items
        h2 displayed samples
        p.tip Select from the inventory above to display it in your scene.
        p.tip Click on the item below to place it back into your inventory to build other items.
        p.tip You can only display one of each item at a time.
        ul.displayed
      #builder
        h2 build
        ul.items
    else
      #collection
      #builder
  #notification
  if firstVisit
    .arrow-content
      #arrow
      #arrow-tip
        p Scroll down and click on the vehicle to start mining.
        p Use your arrow keys to navigate.

block footer
  footer
    if owner
      #avatar
      #build
      #health
        .status#health-state1
        .status#health-state2
        .status#health-state3
        .status#health-state4
        .status#health-state5
    if session
      ol#messages
      form#message(method='post')
        input(type='text', placeholder='chat here')
    #active
      p currently online&#xa0;
        span 0

block script
  script(src='/socket.io/socket.io.js')
  script(src='/thirdparty.min.js')
  script(src='/app.bundle.js')
