include mixins
extend layout

block content
  section#area
    svg#back
      filter#artifacts
        feComponentTransfer
      g(filter='url(#artifacts)')

    svg#mountain
    svg#land-upper
    svg#land-lower
    svg#mining
  #playground

  #mining-area
    if owner
      img#vehicle
      img.hole.fade

  if owner
    #collection
      h2 collection
      ul.items

block footer
  footer
    if owner
      #avatar
      #build
      #health
        .status#health-state1
        .status#health-state2
        .status#health-state3
        .status#health-state4
        .status#health-state5
    ol#messages
    form#message(method='post')
      input(type='text', placeholder='chat here')
    span#active 0
