extend layout

block header

block content
  svg#mountain
  #title TRIANGLES
  .instructions
    h2 How to play:
    ol
      li Mine for
       span.boxes boxes
       | , but careful about hitting
       span.lava lava bombs
       | . Those will damage you and then you'll need to wait for your health to regenerate every 15 minutes.
      li Take these boxes and combine them to build other items.
      li Your mining area will regenerate with new items every 30 minutes.
      li If you want to put your items on display, you can select one of each type and drag it around into your favorite spot.

  section.home.form
    form(method='post', action='/login', class='login')
      h1 Sign in or&#xa0;
        a(href='/signup') Join
      if error
        p.errors= error
      .group
        h2 Email
        input(type='email', name='email', placeholder='your@email.com', required)
      .group
        h2 Password
        input(type='password', name='password', placeholder='password', required)
      input(type='hidden', name='crumb', value='#{crumb}')
      .group
        button(type='submit') sign in
      .group
        a(href='/password/forgot', class='forgot') forgot password?

block script
  script(src='/thirdparty.min.js')
  script(src='/landing.bundle.js')
