extend layout

block content
  section
    h1 everyone's worlds

    ul.worlds
      for world in worlds
        li
          a(href='/t/#{world.id}', title='#{world.world || "???"}')
            .world
              if world.world
                span= world.world
              else
                span ???

block script
  script(src='/thirdparty.min.js')
  script(src='/nosession.bundle.js')