html, body {
  height: 100%;
}

body {
  background: linear-gradient(to bottom,
                #3ec7b8 0%,
                #883ec7 50%,
                #c73eb2 81%,
                #111 100%);
  position: relative;
}

#mountain {
  width: 1200px;
  height: 445px;
  position: fixed;
  left: 90px;
  bottom: 0;
  z-index: 1;
  animation: mountain 5.5s ease-in-out alternate;
}

@keyframes mountain {
  from {
    filter: drop-shadow(0 0 1px rgba(243, 29, 230, 0.5))
        drop-shadow(0 0 3px rgba(1, 1, 255, 0.5))
        drop-shadow(0 0 5px rgba(243, 29, 230, 0.5))
        drop-shadow(0 0 8px rgba(243, 29, 230, 0.5));
    -webkit-filter: drop-shadow(0 0 1px rgba(243, 29, 230, 0.5))
        drop-shadow(0 0 3px rgba(1, 1, 255, 0.5))
        drop-shadow(0 0 5px rgba(243, 29, 230, 0.5))
        drop-shadow(0 0 8px rgba(243, 29, 230, 0.5));
  }
  to {
    filter: drop-shadow(0 0 1px rgba(243, 29, 230, 0.5))
        drop-shadow(0 0 13px rgba(1, 1, 255, 0.5))
        drop-shadow(0 0 15px rgba(1, 29, 230, 0.5))
        drop-shadow(0 0 18px rgba(243, 29, 230, 0.5));
    -webkit-filter: drop-shadow(0 0 1px rgba(243, 29, 230, 0.5))
        drop-shadow(0 0 13px rgba(1, 1, 255, 0.5))
        drop-shadow(0 0 15px rgba(1, 29, 230, 0.5))
        drop-shadow(0 0 18px rgba(243, 29, 230, 0.5));
  }
}


#title {
  font-size: 3rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 5px;
}

.instructions {
  width: 280px;
  padding: 20px;
  font-size: 1rem;
  line-height: 1.3rem;
  color: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;

}

.instructions h2 {
  font-size: 2rem;
  margin: 10px 0 10px 0;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'LeagueSpartan-Bold';
}

.instructions li {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.instructions span::before {
  content: ' ';
}

.instructions span.boxes::after {
  content: '';
  width: 30px;
  height: 30px;
  background: transparent url(../assets/square.svg) no-repeat;
  display: inline-block;
  filter: drop-shadow(0 0 1px #fff)
      drop-shadow(0 0 3px #fff)
      drop-shadow(0 0 5px #f31de6)
      drop-shadow(0 0 8px rgba(243, 29, 230, 0.5));
  -webkit-filter: drop-shadow(0 0 1px #fff)
      drop-shadow(0 0 3px #fff)
      drop-shadow(0 0 5px #f31de6)
      drop-shadow(0 0 8px rgba(243, 29, 230, 0.5));
}

.instructions span.lava::after {
  content: '';
  width: 30px;
  height: 30px;
  background: transparent url(../assets/lava.svg) no-repeat;
  display: inline-block;
}

.login {
  float: right;
  padding: 10px;
}

section {
  margin: 50px 70px 0 100px;
  height: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 20px;
  font-family: 'LeagueSpartan-Bold';
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.instructions, .form {
  background: repeating-linear-gradient(
    45deg,
    rgba(2, 2, 2, 0.7),
    rgba(2, 2, 2, 0.7) 3px,
    rgba(3, 3, 3, 0.6) 5px,
    rgba(4, 4, 4, 0.6) 3px
  );
  display: block;
  color: #fff;
  position: absolute;
}

/* form styles */

.form {
  margin: 50px 10px 0 120px;
  padding: 20px 10px;
  color: rgba(255, 255, 255, 0.7);
}

.home.form {
  margin: 50px 0 0 0;
  position: absolute;
  z-index: 5;
  height: 190px;
  width: 300px;
}

.home.form input {
  width: 110px;
}

.group {
  float: left;
  margin: 10px 10px;
}

.form h1 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.form h2 {
  margin: 20px 0 5px 0;
}

form h2 {
  margin: 25px 0 5px 0;
  font-size: 1.1rem;
}

form a {
  color: #fff;
}

form a.forgot {
  display: block;
  margin: 10px 0;
}

input {
  border: 1px solid #39a8a9;
  padding: 2px;
  font-size: 1.1rem;
}

button {
  font-size: 1.3rem;
  padding: 5px 10px;
  background-color: #02d8db;
  color: #135051;
  border: 0;
}

@media (max-width: 705px) {
  .instructions {
    left: 0;
    top: 300px;
  }

  .form {
    margin: 80px 0 0 0;
    float: left;
  }

  .form input {
    max-width: 150px;
  }
}

/* world view */
.worlds {
  height: 100%;
}

.worlds li {
  float: left;
  margin: 10px;
}

.world {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../assets/world.svg);
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  filter: drop-shadow(0 0 1px #fff)
        drop-shadow(0 0 2px #fff)
        drop-shadow(0 0 5px #875bff)
        drop-shadow(0 0 8px rgba(0, 91, 255, 0.5));
  -webkit-filter: drop-shadow(0 0 1px #fff)
        drop-shadow(0 0 2px #fff)
        drop-shadow(0 0 5px #875bff)
        drop-shadow(0 0 8px rgba(0, 91, 255, 0.5));
}

.worlds li:hover .world {
  filter: drop-shadow(0 0 1px #fff)
        drop-shadow(0 0 3px #fff)
        drop-shadow(0 0 10px #fff)
        drop-shadow(0 0 12px rgba(0, 91, 255, 0.5));
  -webkit-filter: drop-shadow(0 0 1px #fff)
        drop-shadow(0 0 3px #fff)
        drop-shadow(0 0 10px #fff)
        drop-shadow(0 0 12px rgba(0, 91, 255, 0.5));
}

.worlds a {
  text-decoration: none;
}

.worlds span {
  display: block;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}