/* main styles */

#area {
  height: 2592px;
  width: 2400px;
}

.login {
  padding: 20px;
}

.errors {
  color: #f00;
  font-weight: bold;
  text-transform: uppercase;
}

/* form styles */

.form {
  margin: 50px 10px 0 120px;
}

.form h1 {
  margin-bottom: 20px;
}

.form h2 {
  margin: 10px 0 5px 0;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 65px;
  background-color: rgba(1, 1, 1, 0.5);
  z-index: 9;
}

footer form {
  display: inline-block;
  float: right;
}

#health {
  position: absolute;
  left: 130px;
  bottom: 10px;
  height: 30px;
  width: 120px;
  z-index: 6;
}

#health .status {
  border-radius: 100px;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  background-color: #01db77;
  float: left;
}

#health .status.damage {
  background-color: #f00;
}

#messages {
  position: absolute;
  bottom: 65px;
  right: 10px;
}

#messages li {
  padding: 5px 8px;
  margin-bottom: 1px;
  background-color: rgba(1, 1, 1, 0.5);
  color: #ddd;
  font-weight: 100;
  font-size: 0.75rem;
  line-height: 1rem;
  width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

#messages li:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #888;
}

#messages li.hide {
  opacity: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

#messages li time {
  font-size: 0.7rem;
  margin-right: 5px;
  font-style: italic;
  color: #aaa;
}

#message input {
  border: 0;
  font-size: 0.8rem;
  padding: 4px;
  background-color: rgba(1, 1, 1, 0.4);
  color: #eee;
  width: 246px;
}

#active {
  float: right;
  display: inline-block;
  padding: 5px 10px;
  background-color: rgba(1, 1, 1, 0.7);
  text-align: center;
  color: #fff;
}

#message button {
  display: none;
}

/* game styles */

#back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#mountain {
  width: 1400px;
  height: 445px;
  position: absolute;
  left: 100px;
  top: 85px;
  z-index: 2;
}

#land-upper, #land-lower {
  width: 2400px;
  height: 500px;
  position: absolute;
  left: 0;
  top: 400px;
  z-index: 3;
}

#land-lower {
  top: 700px;
}

#mining {
  position: absolute;
  top: 1000px;
  width: 2400px;
  height: 1600px;
  z-index: 4;
}

#playground {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2400px;
  height: 1199px;
  z-index: 7;
}

#mining-area {
  position: absolute;
  left: 0;
  top: 1200px;
  width: 2400px;
  height: 1400px;
  z-index: 7;
}

.square {
  width: 50px;
  height: 50px;
}

#vehicle, .hole {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 0px;
  left: 0;
}

.hole {
  z-index: 4;
  background-image: url(../assets/hole.svg);
  background-repeat: no-repeat;
}

.hole.fade {
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}

#vehicle {
  z-index: 6;
  background-image: url(../assets/vehicle.svg);
  background-repeat: no-repeat;
}

#vehicle.active {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 100px;
  box-shadow: #fff 0 0 25px;
}

#vehicle.damage {
  background-color: rgba(246, 0, 0, 0.4);
  border-radius: 100px;
  box-shadow: #f60000 0 0 25px;
}

#avatar {
  position: absolute;
  background-image: url(../assets/avatar.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  z-index: 6;
  bottom: 10px;
  left: 10px;
}

#build {
  position: absolute;
  background-image: url(../assets/builder.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  z-index: 6;
  bottom: 10px;
  left: 70px;
}

#avatar:hover, #build:hover, #avatar.active, #build.active {
  background-color: rgba(2, 181, 219, 0.6);
  border-radius: 100px;
  box-shadow: #06d3ff 0 0 10px;
  cursor: pointer;
}

/* items */

.lava {
  position: absolute;
  display: inline-block;
  width: 70px;
  height: 70px;
  z-index: 7;
  top: -5px;
  background-image: url(../assets/lava.svg);
  background-repeat: no-repeat;
}

.neon-pink, .neon-blue, .neon-green {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  z-index: 5;
  background-repeat: no-repeat;
}

.items .collected {
  position: relative;
  width: 30px;
  height: 30px;
  padding-left: 50px;
  font-size: 1.2rem;
  line-height: 22px;
  margin: 5px 0;
  background-repeat: no-repeat;
}

/* collection */
#collection, #builder {
  position: fixed;
  background-color: rgba(1, 1, 1, 0.5);
  z-index: 9;
  height: 70vh;
  width: 70vw;
  left: 100px;
  top: -70vw;
  padding: 20px;
  border: 1px solid #333;
  box-shadow: inset #111 0 0 23px;
  border-radius: 3px;
  color: #fff;
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

#collection.active, #builder.active {
  top: 0;
  display: block;
  opacity: 1;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

#collection h2, #builder h2 {
  font-size: 1rem;
  font-family: 'LeagueSpartan-Bold';
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* builder */
#builder li {
  width: 100px;
  float: left;
  padding: 10px;
}

.items .requirements {
  width: 20px;
  height: 20px;
  padding-left: 30px;
  display: block;
}

#builder .items .build {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-repeat: no-repeat;
  padding-left: 70px;
  position: relative;
}

.requirements {
  display: block;
  position: relative;
}

.requirements.disabled {
  opacity: 0.5;
}

.buy:hover {
  box-shadow: inset #eee 0 0 30px;
  cursor: pointer;
}

/* item images */
.neon-pink {
  background-image: url(../assets/square-pink.svg);
}

.neon-blue {
  background-image: url(../assets/square-blue.svg);
}

.neon-green {
  background-image: url(../assets/square-green.svg);
}

.palm-tree {
  background-image: url(../assets/palm-tree.svg);
}